{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block main %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Войти</h4>

        {% if form.errors %}        
        <p>
            Ваше имя пользователя и пароль не совпадают.  
            Пожалуйста, попробуйте еще раз.
        </p>
        {% else %}        
        <p>Пожалуйста, используйте следующую форму для входа в систему. Если у вас нет учетной записи <a href="{% url 'account:register' %}">зарегистрируйтесь здесь</a></p>
        {% endif %}

        <div class="login-form">
            <form action="{% url 'account:login' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">                
                {{ form|crispy }}
                <p><input type="submit" value="Войти"></p>
            </form>
            <p><a href="{% url 'account:password_reset' %}">Вы забыли пароль?</a></p>
        </div>
    </div>
</div>
{% endblock %}
