{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Изменить пароль</h4>
        <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).</p>
        <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
        {{ form|crispy }}
    </div>
</div>
{% endblock %}