{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block main %}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Забыли пароль?</h4>
        <p>Введите ниже свой адрес электронной почты, и мы вышлем вам инструкцию, как установить новый пароль.</p>
        <form method="post">
            {% csrf_token %}
            <input  type="hidden"  name="next"  value="{{ next }}">
            {{ form|crispy }}
            <button  type="submit"  class="btn btn-primary btn-block">Отправить e-mail</button>
        </form>
    </div>
</div>
{% endblock %}

    