{% extends 'base.html' %}

{% load static %}

{% block page %}
  <nav class="navbar navbar-light bg-success" style="background-color: green; margin-top: 0%; width: 100%;">
    <div class="form-group row" style="width: 80%; margin-left: 25px;"> 
      <form action="{% url 'products:search-results' %}" method="get">
        <input class="form-control" type="search" placeholder="Поиск" aria-label="Search" name="q">
        <button class="btn btn-primary" type="submit">Поиск</button>
      </form>
    </div>
    <div id="main" class="product-list">
      <h1>{% if category %}{{ category.name }}{% endif %}</h1>
      <div id="sidebar">
        <ul>
          <button class="btn btn-success my-2 my-sm-0" type="button" style="display: inline; width: 150px; background-color: rgb(36, 44, 41); border-radius: 25px" href="{% url 'account:homepage' %}"><a style="text-decoration: none;" {% if not category %} class="selected" {% endif %}  href="{% url 'account:homepage' %}" data-filter=".job">All</a></button>
          {% for c in categories %}
            <button class="btn btn-success my-2 my-sm-0" type="button" style="display: inline; width: 150px; background-color: rgb(36, 44, 41); border-radius: 25px" href="{{ c.get_absolute_url }}"><a style="text-decoration: none;" {% if category.id == c.id  %} class="selected" {% endif %} href="{{ c.get_absolute_url }}"> {{ c.name }} </a></button>  
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div style="justify-content: center; margin: 30px 30px; ">
      {% for product in products %}
        {% if product.active %}
          <a href="{{ product.get_absolute_url }}">
            <div class="col-6 col-md-3 ">
              <img class="card-img-top " src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            </div>
          </a>
            <div class="card-body">
              <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
              Цена: {{ product.price }}
            </div>
        {% endif %}
      {% endfor %}
    </div>
      
  </div>
    {% for product in search_products %}
      <div>
        {% if product.active %}
          <a href="{{ product.get_absolute_url }}">
            <div class="col-6 col-md-3">
              <img class="card-img-top " src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
          </a>
            <div class="card-body">
              <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
              Цена: {{ product.price }}
            </div>
      </div>
        {% endif %}
    {% endfor %}
{% endblock %}