
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ request.user.profile.photo.url }}" style="max-width: 250px; max-height: 200px;">
            <h2>ID: {{ user.id }} First name: {{ user.name }}</h2>
        </div>
        <hr>
        <div>Рейтинг: {{ user_object.rating }}</div>
    
        <div>Написать сообщение <a href="{% url 'account:messages' user_object.id %}">GO</a></div>
        <br>
    </div>
</body>
</html>




