{% extends 'base.html' %}


{% block page %}
Категрия Одежда
    {% if products.category == 'Одежда' %}
        <div class="Portfolio-box clothes">
            <img class="card-img-top " >{{ request.product.photo }}
            <div class="card-body">
                {{ product.name }}</p>
                {{ product.photo }}
            <p class="card-text">Цена: {{ product.price }}</p>
            <a href="{% url 'products:product_detail' product.id %}" style=" text-transform: capitalize; font-size: 15px; text-decoration: none; color: black;">Read More</a>
        </div>
    {% endif %}
{% endblock %}