{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block page %}
    <div style="margin-left: 30px;">
        <div class="row">
            <img class="card-img-top" style=" margin-top: 10px; width: auto;" src="{% if products.image %}{{ products.image.url }}{% endif %}">
            <ul class="list-group" style="margin-top: 60px;">
                <li class="list-group-item">{{ product.name }}</li>
                <li class="list-group-item">Цена: {{ product.price }}</li>
                <li class="list-group-item">Описание: {{ product.description|linebreaks }}</li>
                <li class="list-group-item">Номер телефона: {{ product.phone_number }}</li>
                <li class="list-group-item">Категория: {{ products.category }}</li>
                <li class="list-group-item">Статус: {{ products.status }}</li>
                <li class="list-group-item">Дата создания: {{ products.created }}</li>
                <li class="list-group-item">Дата обновления: {{ products.updated }}</li>
            </ul>
            <a class="btn btn-outline-success" style="font-size: 15px; width: auto; margin-right: 5px;" href="{% url  'products:edit_my_product' products.id %}">Изменить</a>
            <a class="btn btn-outline-danger" style="font-size: 15px; width: auto; margin-right: 5px;" href="{% url 'products:delete_product' products.id  %}">Удалить</a>
        </div>
        <div style="margin-top: 30px;">
            <form action="." method="post" enctype="multipart/form-data">
                {{ activation_form.as_p }}
                {% csrf_token %}
                {{ form|crispy }}
                <button  type="submit"  class="btn btn-primary btn-block">Сохранить</button>
            </form>
        </div>

        <br><hr>

        {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    Коментрий: <br>
                    {{ comment.user }}:
                    {{ comment.text }}
                    <p style="font-size: 12px;">{{ comment.created }}</p>
                </p>
                {{ comment.body|linebreaks }}
                <a class='btn btn-lg btn-danger' style="font-size: 15px;" href="{% url 'products:delete-comment' comment.id %}">Удалить</a>
            </div>
        {% empty %}
            <p>Нет Комментриев</p>
        {% endfor %}
    </div>
{% endblock %}