{% extends 'base.html' %}

{% block page %}
    <div class="container-fluid" style="justify-content: space-around;">
        <div class="col-6" style="justify-content: space-around; ">
            <div class="row">
                <img class="card-img-top" style=" margin-top: 100px; width: 600px; height: 500px;" src="{{ products.image.url }}">
                <ul class="list-group" style="margin-top: 60px;">
                    <li class="list-group-item">{{ product_object.name }}</li>
                    <li class="list-group-item">Цена: {{ product.price }}</li>
                    <li class="list-group-item">Описание: {{ product.description|linebreaks }}</li>
                </ul>
            </div>
        </div>
        <a class="btn btn-lg btn-warning" href="{% url 'edit_my_product' product_object.id %}">Изменить</a>
        <a class="btn btn-lg btn-danger" href="{% url 'delete_product' product_object.id %}">Удалить</a>

    </div>

{% endblock %}