{% extends 'base.html' %}
{% load static %}

{% block page %}
    <div class="container-fluid" style="justify-content: space-around;">
        <div class="col-6" style="justify-content: space-around; ">
            <div class="row">
                <img class="card-img-top" style=" margin-top: 10px; width: 35%;" src="{{ product.image.url }}">
                <ul class="list-group" style="margin-top: 60px;">
                    <h2 style="font-size: 15px; color: rgb(61, 26, 26);">Пользователь: <a href="{% url 'account:user' user.id %}">{{ product.author }}</a></h2>
                    ID пользователя: {{ product.author.id }}
                    <li class="list-group-item">{{ product.name }}</li>
                    <li class="list-group-item">Цена: {{ product.price }}</li>
                    <li class="list-group-item">Описание: {{ product.description|linebreaks }}</li>
                    <li class="list-group-item">Номер телефона: {{ product.phone_number }}</li>
                    <li class="list-group-item"><a href="{% url 'account:inbox' %}">Отправить сообщение</a></li>
                    
                    <button><a href="{% url 'products:add_to_cart' product.id %}" > Добавить в корзину <img src="https://www.freeiconspng.com/thumbs/cart-icon/basket-cart-icon-27.png" alt="Корзина" width="36"> </a> </button>
                </ul>
            </div>
        </div>
    </div>
    <div>
        {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
    {% endwith %}

    </div>
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Отзыв: <br>
                {{ comment.user }}:
                {{ comment.text }}
                <p style="font-size: 12px; margin-top: -15px;">{{ comment.created }}</p>
            </p>
            {{ comment.body|linebreaks }}
                
        </div>
    {% empty %}
        <p>Нет отзывов</p>
    {% endfor %}
    
    {% if new_comment %}
        <h2>Ваш отзыв был добавлен</h2>
    {% else %}
        <hr>
        {% if user.is_authenticated %}
            <h2>Добавить новый комментрий</h2>
            <form method="post">
                <p style="height: 25spx;">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Добавить комментарий"></p>
                </p>
            </form>
        {% else %}
            <p>Только авторизованные пользователи могут оставлять отзывы</p>
        {% endif %}
    {% endif %}
        
    

{% endblock %}