{% extends 'base.html' %}

{% block page %}
   <div class="row">
        {% if product_list %}
            {% for product in product_list%}
                <div class="card">
                    {{ forloop.counter }}
                    <div class="container">
                        <img style="width: 200px; height: 250px;" src="{{ product.image.url }}">
                      
                        <p>Название: {{ product.name }}</p>
                        <p>Цена: {{ product.price }}</p>    
                        <p><a href="{% url 'products:my-product-detail' product.id %}">Просмотреть</a></p>
                    </div>
            {% endfor %}
        {% else %}
            <p>There are no products.</p>
        {% endif %} 
       </tr>
    </div>
{% endblock %}