{% extends 'base.html' %}

{% block page %}
    <div>
        {% for product in products %}
            Название: {{ product.name }}
            Цена: {{ product.price }}
            Описание: {{ product.description|linebreaks }}
            Категория: {{ product.category }}
            Подкатогрия: {{ product.sub_category }}
            Статус: {{ product.status }}
            Дата создания: {{ product.created }}
            Дата обновления: {{ product.updated }}
        {% endfor %}
    </div>
{% endblock %}