<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for product in Product %}
            Название: {{ product.name }}
            Цена: {{ product.price }}
            Описание: {{ product.description|linebreaks }}
            Категория: {{ product.category }}
            Подкатогрия: {{ product.sub_category }}
            Статус: {{ product.status }}
            Дата создания: {{ product.created }}
            Дата обновления: {{ product.updated }}
        {% endfor %}
    </div>
</body>
</html>